OAUTH_ADMIN_URL=provider
OAUTH_PUBLIC_URL=provider
OAUTH_PRIVATE_URL=provider

OIDC_ISSUER=provider

BFF_CLIENT_ID=secret
BFF_CLIENT_SECRET=secret

M2M_CLIENT_ID=secret
M2M_CLIENT_SECRET=secret

ALLOWED_CLIENT_IDS=bff-client,m2m-client
ALLOWED_SCOPES=openid,offline,api:read,api:write
